.App {
  text-align: center;
  background-color: #F4E185;
  font-size: 40px;
  font-style: italic;
  
}

.PageTitle {
  width: 250px;
  background-color: #14279B;
  color: #E6E6E6;
  font-family: ‘Shippori Antique’, sans-serif;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;    
  position: relative;
  text-decoration: none; 
  margin-left: 800px;
  width: 300px;
  margin-top: 35px;
  text-transform: uppercase;
  text-align: center;

}

.Nav_link {
  background-color: #14279B;
  color: #E6E6E6;
  font-family: ‘Shippori Antique’, sans-serif;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-decoration: none; 
  text-align: center;
  
  }

  .Nav_link:hover{

    box-shadow: 0 0 12px 8px rgba(0, 140, 186, 0.5);

  }

  .Category {

    text-transform: uppercase;

  }

  .ReviewTitle{

    font-size: 40px;
    font-style: italic;
    
  }

  .AllReviews {

    font-size: 20px;
    max-width: 800px;
    margin-left: 550px;

  }

  .ReviewBody {
    font-size: 20px;
    max-width: 800px;
    margin-left: 550px;
    text-align: left;

  }

  .ReviewImages{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
  }

  .SingleReviewImage{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;
  }

  .ItemsByCategory{

    text-transform: uppercase;
    background-color: #14279B;
    color: #E6E6E6;
    font-family: ‘Shippori Antique’, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-decoration: none; 
    text-align: center;
    margin-left: 750px;
    width: 450px;

  }

  .button::first-letter{
    text-transform: uppercase;
  }


  .button {
    width: 250px;
    background-color: #14279B;
    color: #E6E6E6;
    font-family: ‘Shippori Antique’, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;    
    position: relative;
    text-decoration: none; 
    margin-left: 800px;
    margin-top: 35px;
    box-shadow: 0 0 12px 8px rgba(0, 140, 186, 0.5);
   
  }

  .SelectAReviewButton {
    width: 250px;
    background-color: #14279B;
    color: #E6E6E6;
    font-family: ‘Shippori Antique’, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;    
    position: relative;
    text-decoration: none; 
    margin-left: 820px;
    margin-top: 35px;
    box-shadow: 0 0 12px 8px rgba(0, 140, 186, 0.5);
   
  }

.SingleReviewButton{

    width: 700px;
    background-color: #5361b8;
    color: #E6E6E6;
    font-family: ‘Shippori Antique’, sans-serif;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;    
    position: relative;
    text-decoration: none; 
    margin-left: 580px;
    margin-top: 30px;
    box-shadow: 0 0 12px 8px rgba(0, 140, 186, 0.5);
    text-transform: uppercase;

}

 
.Categories {
background-image: url('./images/Categories2.jpg');
background-size: cover;
background-repeat: no-repeat;
padding-bottom: 30px;

}

.madeWithReact {

  max-width: 200px;
  margin-right: 1600px;
}
