.App {
  text-align: center;
  background-color: #F4E185;
  font-size: 40px;
  font-style: italic;
}

.Nav_link {
  background-color: #14279B;
  color: #E6E6E6;
  font-family: ‘Shippori Antique’, sans-serif;
  font-weight: bold;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-decoration: none; 
  text-align: center;
  }

  .Category {

    text-transform: uppercase;

  }

  .ReviewTitle{

    font-size: 40px;
    font-style: italic;
    
  }


  .AllReviews {

    font-size: 20px;

  }